{% extends "baseHTML/base_crear.html" %}
{% load static %}

{% block titulo %}
    {% if form.instance.pk %}Editar Incripcion {%else %}Crear Inscripcion {% endif %}
{% endblock titulo %}

{% block formulario %}
    <div class="col-10">
        <form class="form" method="post" action="{% if form.instance.pk %}{% url 'actualizar_inscripcion' form.instance.pk %}{%else %}{% url 'registrar_inscripcion' %}{% endif %}">
                    <h1>{% if form.instance.pk %} Actualizar Inscripcion {%else %} Crear Inscripcion {% endif %}</h1> 
                {%csrf_token%}

                {% comment %} Validacion de errores {% endcomment %}
                {% if form.errors %}
                    <div class="errores">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="error-field">
                                    {{ field.label }}: {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Estudiante</label>
                        {{form.estudiante}}
                    </div>
                    <div class="col-md-12">
                        <label for="">Nombre del curso</label>
                        {{form.curso}}
                    </div>
                    <div class="col-md-12">
                        <label for="">Fecha de Inscripcion</label>
                        {{form.fhecha_inscripcion}}
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit">{% if form.instance.pk %} Editar Inscripcion {%else %} Crear Inscripcion {% endif %}</button>
                    </div>
                    <div class="col-md-12">
                        <a class="btn" href="{% url 'listado_inscripciones'  %}">Volver</a>
                    </div>  
                </div>
        </form>
    </div>
{% endblock formulario %}