{% extends "baseHTML/base_crear.html" %}
{% load static %}

{% block titulo %}
    {% if form.instance.pk %}Editar Rol {%else %}Crear Rol {% endif %}
{% endblock titulo %}

{% block formulario %}
    <div class="col-10">
        <form class="form" method="post" action="{% if form.instance.pk %}{% url 'actualizar_rol' form.instance.pk %}{%else %}{% url 'registrar_rol' %}{% endif %}">
                    <h1>{% if form.instance.pk %} Actualizar Rol {%else %} Crear Rol {% endif %}</h1> 
                {%csrf_token%}

                {% comment %} Validacion de errores {% endcomment %}
                {% if form.errors %}
                    <div class="errores">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="error-field">
                                    {{ field.label }}: {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Nombre</label>
                        {{form.name}}
                    </div>
                    <div class="col-md-12">
                        <label for="">Roles y permisos</label>
                        {{form.permissions}}
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit">{% if form.instance.pk %} Editar Rol {%else %} Crear Rol {% endif %}</button>
                    </div>
                    <div class="col-md-12">
                        <a class="btn" href="{% url 'inicio'  %}">Volver</a>
                    </div>  
                </div>
        </form>
    </div>
{% endblock formulario %}