{% extends "baseHTML/base_listar.html" %}
{% load static %}

{% block titulo %}
    Listado de Cursos
{% endblock titulo %}

{% block formulario %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
        <h1>Listado De Cursos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for curso in cursos %}
                <tbody>
                    <td>{{curso.nombre}}</td>
                        <td> 
                            <a href="{% url 'eliminar_rol' rol.pk %}" class="action-link delete-link">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="{% url 'actualizar_rol' rol.pk %}" class="action-link edit-link">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'registrar_curso'  %}">Crear Curso</a></button>
    </div>
    <script>
        // Hacer que los mensajes desaparezcan después de 5 segundos
        setTimeout(function() {
            var messages = document.getElementsByClassName('message');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 5000);
    </script>
{% endblock formulario %}